@use '../styles/_variables' as *;

.commit-file-rating {
  margin-top: 5px;
  padding: 12px;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  background-color: #f6f8fa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-align: left;

  .rating-container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .rating-buttons {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 10px;
  }

  .likert-scale {
    display: flex;
    gap: 8px;
  }

  .rating-btn {
    padding: 6px 12px;
    border: 1px solid #d0d7de;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    transition: 0.2s;
    font-weight: bold;

    &:hover {
      background-color: #f3f4f6;
      border-color: #0366d6;
    }

    &.selected {
      background-color: #0366d6;
      border-color: #0366d6;
      color: white;
    }
  }

  .no-rating {
    background-color: #d0d7de;
    color: #24292f;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s;

    &:hover {
      background-color: #b1bac4;
    }

    &.selected {
      background-color: #586069;
      color: white;
    }
  }

  .complexity-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 305px;
    margin-top: 3px;
    font-size: 8px;
    font-weight: bold;
    color: #586069;
  }

  .low {
    flex: 1;
    text-align: left;
  }

  .high {
    flex: 1;
    text-align: right;
  }
}

.rating-instruction-box {
  margin-bottom: 6px;
  margin-top: 22px;
  padding: 10px;
  border-left: 5px solid #0366d6;
  background-color: #f6f8fa;
  font-weight: bold;
  font-size: 16px;
  color: #24292f;
  border-radius: 4px;
}
